@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
body {
  font-family: var("Roboto", "sans-serif");
  background-color: var(#ffffff);
  color: var(#000000); }

h1, h2 {
  color: var(#086102); }

.tree-form, .tree-list {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid var(#00000062);
  border-radius: 5px; }

.tree-form label, .tree-form input, .tree-form select, .tree-form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  font-family: var("Arial", "sans-serif"); }

.tree-form button {
  background-color: var(#0e7d49);
  color: var(#ffffff);
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer; }

.tree-list ul {
  list-style: none;
  padding: 0; }

.tree-list li {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid var(#00000062);
  border-radius: 5px;
  background-color: var(#5da213); }

.tree-list img {
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 10px; }

.tree-list p {
  margin: 5px 0; }

.tree-list a {
  color: var(#0e7d49);
  text-decoration: none; }
