*{
    margin: 0;
    padding : 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@import '../scss/header_footer.scss';
@import '../scss/signup.scss';
@import '../scss/login.scss';
@import '../scss/hero-callout.scss';
@import './variables/breakpoints.scss';
@import './mixins/media-querys.scss';
@import '../scss/card-showcase.scss';
@import '../scss/dashboard.scss';
@import'../scss/index.scss';
@import'../scss/trees.scss';
@import'../scss/users.scss';
@import'../scss/buyTree.scss';
@import'../scss/profile.scss';
@import'../scss/bitacora.scss';
@import'../scss/especies.scss';