@import './variables/fonts.scss';
@import './variables/colors.scss';

.header-index {
    background-color: $nav-color-st;
    color: $primary-color;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 1000;

    .header-name {
        font-family: $third-font;
        color: $secondary-color;
        font-size: 3rem;
    }

    .navbar {
        display: flex;
        align-items: center;
    }

    nav ul {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    nav ul li {
        list-style: none;
        margin: 0 15px;
    }

    .language-switch {
        margin-right: 20px;
    }

    .theme-switch {
        margin-left: 30px; 
    }

    nav ul li a {
        text-decoration: none;
        font-family: $primary-font;
        color: $secondary-color;
        font-size: 1.05rem;
        text-transform: capitalize;
    }

    .language-switch {
        margin-right: 20px; /* Añadir margen derecho para separar del interruptor */
    }

    .navbar select {
        background-color: transparent;
        color: $secondary-color; 
        border: 1px solid $secondary-color;
        font-size: 1.05rem; 
        cursor: pointer;
        border-radius: 10px;
        padding: 5px 10px;
    }

    .navbar select:hover {
        color: $secondary-color;
        border: 1px solid $secondary-color; 
    }

    .navbar select:focus {
        outline: none; 
        border: 1px solid $secondary-color;
        box-shadow: none; 
    }

    .navbar select option {
        background-color: $primary-color; 
        color: $secondary-color;
        padding: 10px; 
        cursor: pointer; 
    }

    .theme-switch {
        margin-left: 15px; /* Añadir margen izquierdo para separar del menú de idiomas */
    }

    /* Estilos para el interruptor */
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;  
        height: 34px;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        transition: .4s;
        border-radius: 34px; 
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        transition: .4s;
        border-radius: 50%;
    }

    input:checked + .slider {
        background-color: #000000; 
    }

    input:checked + .slider:before {
        transform: translateX(26px);  
    }
}
  
// Footer styles
footer {
    text-align: center;
    padding: 1rem;
    background-color: #f8f9fa;
    font-size: 0.875rem;
  }