@import './variables/fonts.scss';
@import './variables/colors.scss';
@import './mixins/hero-bg.scss';

.index-hero{
    @include hero-background ('../images/forest.jpeg');
}
.warning-hero{
    @include hero-background ('../images/arenal.jpg');
}


.hero-content {
    max-width: 800px;
}
.hero h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
    text-align: center;
}
.hero p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
button {
    background-color: #ff4d4d; // Rojo suave
    color: white; // Texto blanco
    border: none; // Sin bordes
    padding: 12px 24px; // Espaciado interno
    font-size: 16px; // Tamaño de la fuente
    border-radius: 5px; // Bordes redondeados
    cursor: pointer; // Indicador de clic
    transition: background-color 0.3s ease, transform 0.1s ease; // Transición suave en hover y clic
  
    &:hover {
      background-color: #ff3333; // Cambio de color en hover
    }
  
    &:focus {
      outline: none; // Elimina el borde por defecto en foco
      box-shadow: 0 0 0 3px rgba(255, 77, 77, 0.4); // Añade un efecto de enfoque
    }
  
    &:active {
      background-color: #e60000; // Color más oscuro al hacer clic
      transform: scale(0.98); // Efecto de presión al hacer clic
    }
  }
  
