@import './variables/fonts.scss';
@import './variables/colors.scss';

:root {
    background-color: white;
    color: black;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
    font-family: Arial, sans-serif;
}

button {
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 10;
    padding-right: 10px;
    padding-left: 10px;
    cursor: pointer;
}

/* - - -  MODO OSCURO - - - */
.dark {
    background-color: $primary-color;
    color: white;
}

.dark .index-content h1,
.dark .index-content p {
    color: $secondary-color;
}

.dark .header-index {
    background-color: $secondary-nav-color;
}

.dark .header-name {
    color: $secondary-color;
}

.dark .navbar a {
    color: $secondary-color;
}

.dark button {
    background-color: #333;
    color: $cta-general-color;
}

.dark footer {
    background-color: #333;
    color: $secondary-color;
}

.dark input {
    background-color: #333;
    color: $secondary-color;
    border: 1px solid #000;
}

.dark input::placeholder {
    color: #333;
}
