@import './variables/fonts.scss';
@import './variables/colors.scss';

.welcome-message{
    padding: 10px 10px;
    text-align: center;
    align-items: center;
    color: $secondary-color;
    font-family: $primary-font;
    background: linear-gradient(90deg, #2e8b57, #003366);
    font-weight: bold;
    font-size: 1rem;
    box-shadow: 2px 2px 5px $secondary-nav-color;

}

.titulo1{
    padding-top: 1rem;
    text-align: center;
    padding: auto;
    color: $primary-color;
    font-family: $third-font;
    font-size: 3rem;
}