
$primary-color : #000000;
$secondary-color : #ffffff;
$nav-color-st : #086102;
$secondary-nav-color : #5da213;
$cta-general-color : #0e7d49;
$header-footer-color : #00000062;
$welcome-message-color :#0b08a8;